<section class="about"><h2 class="section-heading"><span>zabana@karimc:~$</span><span> whoami</span></h2><article class="about__text"><p>My name is Karim Cheurfi, I'm a 25 years old full stack
developer based in Paris, France (currently) and Brighton, UK.
In Paris, I connect people together at
<a href="https://numa.co">Numa</a>, and when I'm in Brighton I
mentor under-represented students at
<a href="https://codebar.io/">Codebar</a>.</p><p>I'm a <span> massive cyberpunk nerd </span> with an interest in
open source and devops. In my free time I like to hack on fun
projects, play / watch football with friends, gulp banana
smoothies and take pictures (among other things,
like obsessing over my Hacker News karma).</p></article></section>