<section class="contact"><h2 class="section-heading"><span>zabana@karimc:~$</span><span> cat contact.md</span></h2><p>I am now looking to transition back to a full time position <span>and willing to
relocate</span>). I'm also open to <span>remote work</span>
so if you're a cool startup looking for an always curious
passionate dev, I'm on <a href="https://github.com/Zabanaa">Github</a> and
<a href="https://twitter.com/zabanaa_">Twitter</a>.
<br> Alternatively, you can get in
touch via <a href="mailto:karim.cheurfi@gmail.com">E-mail</a></p></section>