section.about.animated-section
    
    h2.section-header Some Basics
    
    article.about__blurb
        
        p Thanks for stopping by ! My name is Karim Cheurfi (pronounced she-ri-fi, blame the French). I'm a 24 year old front end geek discovering the wonderful world of full stack development. I live between Brighton, Paris and London and write Javascript and Python (that rhymed).
        
        p I'm a self proclaimed Milkshake expert who enjoys bringing life to beautiful designs, creating interactions and animations with my code. I like Sonic the Hedgehog, Javascript, Django and Arsenal. I despise Tottenham and unsemantic markup. I make too many AJAX calls and write git ass more than any programmer should. 

        p In my free time, when I'm not hanging out with friends, taking pictures or trying to come up with potential valid reasons for the lack of spending at Arsenal, I like to experiment with code and try new frameworks and technologies (Recently Django, ExpressJS and Angular). 
        
        p Oh, and I studied Business Administration and Digital Marketing at the university of Paris.
