section.contact.no-padding
        
    a(href="/cv.html").contact__cv
        span My CV
        include svg/python.svg
            
    a(href="mailto:karim.cheurfi@gmail.com").contact__email karim.cheurfi@gmail.com
        
