head

   title Cereal Coder - Front End / Back End Developer. Brighton - London - Paris
   meta(charset='utf-8')
   meta(http-equiv="Content-Type", content="text/html", charset="utf-8")
   meta(http-equiv='X-UA-Compatible', content='IE=edge')
   meta(name='description', content='This is my meta description I need to update this')
   meta(name="viewport", content="width=device-width, initial-scale=1")
   link(rel='stylesheet', href='/assets/css/main.css')
