section.hire-me

    article.hire-me__blurb
    
        p I am currently available for employment. If you'd like me to join your team, please don't hesitate to flick me an e-mail and I'll happily get back to you. (I'm a very polite Frenchman). 
        p In addition, if you desire to know more about my work / projects I'm working on, you can have a look at my github profile #[a(href="http://github.com/cerealcoder") here]. Thanks for visiting !
    
        
        
    
