section.skills
    
    h2.section-header Some Technologies
    
    ul.skills__list
    
        li
            include svg/browserify-icon.svg
        li
            include svg/pythonlogo.svg
        li
            include svg/django.svg
        li
            include svg/es6.svg
        li
            include svg/jade.svg
        li
            include svg/sass.svg
        li
            include svg/git-icon.svg

    
    p Along with Gulp, Browser-Sync, Angular, NodeJS, Sass ... 
    
        
        
        
