section.splash
    
    div.splash__sub-section.cereals
        
        h2.splash__title Cereals

        include svg/cereals.svg
        
    div.splash__sub-section.code
    
        h2.splash__title Code

            
        include svg/python.svg
    
    
