section.portfolio

    h2.section-header Some Projects
    
    div.container
        
        |{% for project in site.data.work %}
            
        div.project__name
            
            h2 {{project.title}}
            a(href="{{project.url}}") View site
                
        |{% endfor %}
    
