// Font Variables
$font: 'Source Sans Pro', sans-serif
$content: 'Fira Sans', sans-serif
$headings: 'Poppins', sans-serif
// Project Colors

$primary: #1A6BB3
$secondary:  #F5F5F9
$tertiary:  #E73D4F
$text: #9FABC8

$project-dribble: #EF476F
$project-rainyday: #3FA7D6
$project-rihanna: #FFD166
$project-focus: #985277
$project-smoothie: #06D6A0
$project-cerealnotes: #345995

// Map for social colors

$social: ( facebook: #3B539A, twitter: #00ACED, gplus: #F12F1C, linkedin: #007BB6, pinterest: #CB2027, youtube: #BB0000, instagram: #517FA4, github: #161414, vimeo: #1BB8EE, dribbble: #ea4c89, soundcloud: #FF6600 )

// Loop through the map and create style for each class
@each $name, $value in $social

   .icon--#{$name}

      svg path

         fill: $value
         transition: all .3s ease-in

      &:hover

         svg path

            fill: darken($value, 4%)
