section.about

    h2.section-heading ubuntu@zabana:~$ whoami

    article.about__text

        p
            | My name is Karim Cheurfi, I'm 25 years old and I'm a full stack developer. I live
            | between Paris, London and Brighton. In Paris, I connect people together at Numa (link),
            | and when I'm in Brighton I mentor under-represented students at Codebar.

        p
            | I'm a massive cyberpunk nerd with an interest in Open Source and Photography. In my free
            | time I like to hack on fun projects, play / watch football with friends, gulp banana smoothies while
            | reading Hacker News and cycle (among other things, like obsessing over my .vimrc config).
