section.contact

    h2.section-heading
        span ubuntu@zabana:~$
        span  cat contact.md

    h3 ## Let's Keep In Touch

    ul
        li
            a(href="https://github.com/Zabanaa").contact__gh Github
        li
            a(href="mailto:karim.cheurfi@gmail.com").contact__email E-mail
        li
            a(href="https://twitter.com/zabanaa_").contact__twitter Twitter

    p
        | I am currently looking to transition back to a full time position ( and willing to
        | relocate ). I'm also open to remote work so if you're a cool startup looking for an always curious
        | passionate dev, contact me using one of the above channels.
