head

   title Karim Cheurfi - Full Stack Developer
   meta(charset='utf-8')
   meta(http-equiv="Content-Type", content="text/html", charset="utf-8")
   meta(http-equiv='X-UA-Compatible', content='IE=edge')
   meta( name='description', content='I am a full stack developer located in Paris, France.  Specialised in Node.js and Python')
   meta(name="viewport", content="width=device-width, initial-scale=1")
   // link(rel='stylesheet', href='/assets/css/main.css')
