section.jobs

    h2.section-heading
        span ubuntu@zabana:~$
        span  history

    h3.jobs__heading ## My experience

    ul
        li 2016 | Present - Freelance Back End Developer (Django) | SuperTesteur | Paris, France
        li 2015 | Front End Developer | Bozboz | Brighton, UK
        li 2015 | Front End Developer | Neptik | Brighton, UK
