section.jobs

    h2.section-heading ubuntu@zabana:~$ cat experience.md

    ul
        li 2016 | Present - Freelance Backend Developer (Django) - SuperTesteur.fr - Paris, France
        li 2015 - Front End Developer - Bozboz - Brighton, UK
        li 2015 - Front End Developer - Neptik - Brighton, UK
