section.projects

    h2.section-heading
        span ubuntu@zabana:~$
        span  ls projects/

    h3.projects__heading ## What I Hack On

    ul
        li
            a(href="https://www.npmjs.com/package/nuddles") Nuddles - Node.js wrapper for the Foursquare API
        li
            a(href="https://github.com/Zabanaa/jabbbar") Jabbbar - Python 3 wrapper for the Dribbble API

        li
            a(href="https://wintermute.design") Wintermute - A RESTful API for browsing Cyberpunk Authors/Novels/Characters
        li
            a(href="https://github.com/Zabanaa/slashme") Slash Me - My personal API (Powered by Flask)

        li
            a(href="{{site.url}}/notes") Notes - My blog
