section.skills.animated-section
    
    h2.section-header Some Technologies
    
    ul.skills__list
    
        li
            include svg/nodejs-icon.svg
        li
            include svg/pythonlogo.svg
        li
            include svg/django.svg
        li
            include svg/es6.svg
        li
            include svg/hapi.svg
        li
            include svg/sass.svg
        li
            include svg/angular-icon.svg

    
    p Along with Gulp, Jade, Sass ... 
    
        
        
        
