section.skills.animated-section

    h2.section-heading ubuntu@zabana:~$ cat skills.md


    h3.skill-list ## Languages

    ul
        li Python
        li Node.js
        li Javascript (Front-end) / ES6
        li HTML5
        li CSS3
        li Sass
        li Golang (Basic)
        li SQL (Postgres, MySQL)
        li Markdown

    h3.skill-test ## Tools

    ul
        li Vim / VS Code
        li Tmux
        li Fish Shell
        li Virtualbox
        li Vagrant
        li Docker
        li Gulp
        li Sequelize
        li Trello

    h3.skill-test ## Frameworks

    ul
        li Express JS
        li Django
        li Flask
        li Angular JS (1.x)
        li Vue JS (Basic)
        li Mocha / Chai


    h3.skill-test ## Other

    ul
        li HTTP / REST
        li Continuous Integration (Travis CI)
        li Testing
        li Basic UNIX server administration
        li Git
        li API Development
        li OOP
        li Nginx
        li AWS
        li Jekyll
        li API Consumption (Twitter, Google Maps, Dribbble, Foursquare ...)

