section.portfolio.animated-section

    h2.section-header#no-anim Some Projects
    
    div.container
        
        |{% for project in site.data.work %}
            
        div.project__name
            
            h2 {{project.title}}
            a(href="{{project.url}}") View Project
                
        |{% endfor %}
    
