.contact
    display: flex
    color: $secondary
    flex-direction: column

    +tablet-up
        flex-direction: row

    > .contact__cv,.contact__email

        padding: 2em 0
        display: flex
        align-items: center
        justify-content: center
        height: 200px
        font-size: 1.3em

        +tablet-up
            flex-basis: 50%
            height: auto

        +desktop-up
            font-size: 2.5em

.contact__cv

    background-color: $quarternary
    flex-direction: column
    color: $tertiary

    &:hover svg
        animation: wobble .8s ease-out both

    span
        display: block
        margin-bottom: 1em

    svg

        +size(65px)

        +desktop-up
            +size(100px)

        path
            fill: $tertiary

.contact__email
    background-color: $tertiary

    span
        color: $quarternary

        &:after
            content: ''
            display: block
            width: 0
            height: 2px
            background-color: $primary
            transition: all .5s ease

    &:hover span:after
        width: 100%
