.contact h3
    color: $green

.contact a
    color: white

.contact p

    color: blueviolet
    margin-top: 1.6em
    font-size: 1.3em

    &:before
      content: "<!--"

    &:after
      content: "-->"
