.hire-me
    background-color: darken($secondary, 6%)
    color: $primary

    .container
        display: flex
        align-items: center
        flex-direction: column
        max-width: 77em
        margin: 0 auto

        +desktop-up
            flex-direction: row

.hire-me__blurb

    width: 90%
    margin: 0 auto
    text-align: center

    +tablet-up
        max-width: 35em

    +desktop-up
        max-width: 55em

    p
        margin-bottom: 1em
        animation: fadeInUp 1s ease both

        @for $i from 1 through 3
            &:nth-child(#{$i})
                animation-delay: .1s * $i

        &:last-child
            margin-bottom: 0

        +desktop-up
            font-size: 1.3em

        a
            text-decoration: underline

.hire-me__picture

    overflow: hidden
    border-radius: 50%
    background-image: url('/assets/img/me2.jpg')
    background-position: 50% 50%
    background-repeat: no-repeat
    background-size: cover
    filter: sepia(49%)
    +size(130px)
    margin: 0 auto 2em
    box-shadow: 0 0 4px darken(#F5F5F5, 87% )

    &.animate
        animation: fadeInUp .77s ease both

        +desktop-up
            animation-name: fadeInLeft

    +tablet-up
        +size(170px)


    +desktop-up
        margin-bottom: 0
        +size(200px)
