*
    padding: 0
    margin: 0

h1, h2, h3, h4, h5, h6
    font-family: $headings
a
    color: inherit
    transition: .2s ease
    outline: 0

    &.about a
        color: hotpink

    &:hover
        color: blue

body
    background: $purple
    color: lightyellow
    font-family: $font

main
    max-width: 66em

    +mobile
        padding: 0 1em

    +tablet
        padding: 0 2em

    +desktop-up
        padding-left: 3em

section
    padding-top: 3em

    +mobile
        padding-top: 1em

.section-heading

    font-size: 1.8em
    margin-bottom: 1em

    span:first-child
        color: lightyellow
        background: blue

        &+span
            color: hotpink

    +mobile
        font-size: 1.2em

section h3
    font-size: 1.5em
    margin-bottom: 1em

    +mobile
        font-size: 1.2em

    &.languages
        color: $light-blue

    &.tools
        color: $pink

    &.frameworks
        color: $yellow

    &.other
        color: $blue

    &.projects__heading
        color: $light-blue

    &.jobs__heading
        color: $orange

    &.contact__heading
        color: $green

ul, ol

    font-size: 1.1em
    padding-left: 2em

    +mobile
        padding-left: 1em
    li
        margin-bottom: .7em

ol
    padding-left: 4em

    +mobile
        padding-left: 2em

ul > li
    list-style: none

    &:before
        content: "- "

p

    font-size: 1.2em
    margin-bottom: 1em
    line-height: 1.2

    +mobile
        font-size: 1em
        line-height: 1.4

    &:last-child
        margin-bottom: 0
