.notes__list
    padding-left: 0

.notes__list li

    margin-bottom: 1em

    &:before
        content: ""


.notes__list li a

    font-size: 1.4em
    text-decoration: none

    h1
        margin-bottom: 10px
        display: inline-block

.notes__list time
    font-size: 1em
    padding-left: 1em
