.skills
    text-align: center
    background-color: $primary
    color: $tertiary

    .section-header


        margin-bottom: 2em

        +tablet-up
            margin-bottom: 1em

    p
        +tablet-up
            font-size: 1.3em

.skills__header

    +tablet-up
        font-size: 2.3em

.skills__list

    max-width: 65em
    margin: 0 auto 0
    display: flex
    align-items: center
    justify-content: space-between
    flex-direction: column


    li:nth-child(1),
    li:nth-child(6)
        display: none


    +tablet-up
        flex-direction: row
        flex-wrap: wrap
        padding: 2em 3em

    +desktop-up
        li:nth-child(1),
        li:nth-child(6)
            display: block

    svg

        +size(90px)
        margin-bottom: 2em

        +tablet-up
            width: 90px
            height: auto
            margin-bottom: 0
