.splash

    height: 80vh
    display: flex
    flex-direction: column

    +desktop-up
        flex-direction: row
        height: 100vh

    +large-desktop
        height: 95vh

.splash__sub-section
    flex-basis: 50%
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    background-position: 50% 50%
    background-repeat: no-repeat
    background-size: cover
    position: relative

    &:hover svg

        +desktop-up

            animation: pulseScale 1s ease-out both infinite

    &:after
        +position(absolute, 0 0 0 0)
        content: ''
        display: block

    svg
        +size(75px)
        z-index: 3

        +tablet-up
            +size(150px)


.splash__title

    position: relative
    z-index: 2
    font-size: 1.3em
    text-transform: uppercase
    letter-spacing: .09em
    text-align: center
    margin-bottom: 1.3rem
    +tablet-up
        font-size: 3em
        margin-bottom: 3rem

.cereals
    background-image: url('/assets/img/cereal.jpg')

    &:after
        background-color: fade-out($splash-cereals-bg, .15)

    .splash__title
        color: $splash-code-bg

    svg
        path, circle
            fill: $splash-code-bg

.code
    background-image: url('/assets/img/code.jpg')

    &:after
        background-color: fade-out($splash-code-bg, .15)

    .splash__title
        color: $splash-cereals-bg

    svg
        path
            fill: $splash-cereals-bg
