// Font Face
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro')
// @import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Cousine')

// Font
$font: 'Anonymous Pro', monospace
$headings: 'Cousine', monospace

// Color Variables
$primary: #0A001A
$secondary: #B03FC6
$tertiary: #E20036
$quarternary: #00A598
$fifth: #fff

$purple: #26293A
$light-blue: #00DCDA
$light-purple: #E875D6
$green: #00CB22
$orange: #F68B23
$pink: #E175AA
$brown: #B86D3B

$yellow: #C2CB00
$blue: #0000EE
