// Font Face
// @import url('https://fonts.googleapis.com/css?family=Anonymous+Pro')
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Cousine')

// Font
$font: 'Inconsolata', monospace
$headings: 'Cousine', monospace

// Color Variables

$light-blue: #00DCDA
$light-purple: #d6acd6


$brown: #B86D3B

$blue: #0000EE

$yellow: #ffd479
$black: #31302e
$orange: #fca369
$green: #a8d3a9
$pink: #f78d8c



