<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        <main class="site-container">

            <header class="project__header">

                <a href="/" class="project__back-btn">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
                    <path d="M16 32c8.837 0 16-7.163 16-16s-7.163-16-16-16-16 7.163-16 16 7.163 16 16 16zM16 3c7.18 0 13 5.82 13 13s-5.82 13-13 13-13-5.82-13-13 5.82-13 13-13z"></path>
                    <path d="M20.914 9.914l-2.829-2.829-8.914 8.914 8.914 8.914 2.828-2.828-6.086-6.086z"></path>
                    </svg>
                </a>

                <div class="project__titles">

                    <h1> {{ page.title}} </h1>

                    <h2> {{ page.subtitle }}  </h2>

                </div>

            </header>

            <section class="project__description">

                <article class="wrapper">

                    <p>{{ page.content }}</p>

                </article>

            </section>

            <section class="project__info no-padding">

                <div class="project__technologies">

                    <h3>Technologies Used</h3>

                    <ul>

                    {% for tech in page.technologies %}

                        <li>{{ tech.technology_name }}</li>

                    {% endfor %}

                    </ul>

                </div>

                <div class="project__links">

                    <h3>Visit the site</h3>

                    <div>



                        <a href="{{page.repo_link}}" class="repo-link project__link">
                            See The Repo
                        </a>

                        {% if page.site_link %}
                        <a href="{{page.site_link}}" class="site-link project__link">
                            Visit the site
                        </a>
                        {% endif %}
                    </div>

                </div>

            </section>

            {% include ga.html %}
            {% include footer.html %}
            <script src="/assets/js/app.js"></script>

        </main>
    </body>


</html>
